*{
  font-family: 'Khula', sans-serif;
}
h1 {
  color: #3aaf9f;
  font-family: 'Khula', sans-serif;
  font-weight: 800;
  font-size: 30px;
}
button {
  margin:10px 10px 0 0;
  border:1px solid white;
  border-radius: 50px;
  padding:12px 20px 8px;
  background-color: #3aaf9f;
  color:white;
}
.list{
  flex-basis: 100%;
}
.form{
  background-color: #3aaf9f;
  padding:20px;
}
.input {
  margin-bottom: 10px;
  color: #999e9d;
  border-radius: 0;
  padding: 23px 10px;
}
.container {
  width:100%;
  max-width: 1250px;
  margin:20px 0;
}
.average p {
  color :#999e9d;
}
.average-grade {
  background-color:#3aaf9f;
}
@media only screen and (max-width:576px) {
  .row .header {
    text-align: center;
  }
}
@media only screen and (min-width:768px) {

}
